/* Estilo geral da página */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

h1 {
  text-align: center;
  color: #6a2e92; /* Cor roxa do Agosto Lilás */
  margin-top: 20px;
}

p {
  text-align: justify;
  padding: 0 20px;
  color: #333;
  line-height: 1.6;
}

.highlight {
  background-color: #6a2e92;
  color: white;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  margin: 20px 0;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #6a2e92;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Estilo para a seção de imagens */
.image-container {
  display: flex;
  justify-content: center;
  gap: 20px; /* Espaçamento entre as imagens */
  margin-top: 20px;
}

.image-container img {
  width: 300px; /* Ajuste o tamanho conforme necessário */
  height: auto;
}
